@font-face {
  font-family: HelveticaNeue;
  src: local("HelveticaNeue"), url('../fonts/HelveticaNeueLTStd Lt.woff');
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #fff url('../img/bg1.jpg');
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
}

/*----------------- HEADER ----------------*/

nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  background-color: #07508f;
}

.menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}

.menu a,
.nav-right-box-1 a,
.nav-right-box-2 a {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 15px;
  font-family: "HelveticaNeue", Arial, sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: #4eabda;
}

.nav-right-box-1:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  line-height: 20px;
  width: 1px;
  background-color: #4eabda;
}

.nav-right-box-1 a:before {
  content: "\f024";
  font-family: FontAwesome;
  color: #ffffff;
  padding-right: 10px;
}

nav a:hover,
nav a:focus {
  background-color: #4eabda;
  color: #fff;
}

.nav-right-box-2 a {
  padding: 0 5px;
}

.nav-right-box-2 {
  font-family: "HelveticaNeue", Arial, sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: #ffffff;
  padding: 0 10px;
  margin-right: 15px;
}



/*----------------- CONTENT ----------------*/

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.transp {
  background-color: rgba(0, 0, 0, 0.5);
}

.cadastre-se,
.form-container {
  width: 560px;
}

.cadastre-se {
  height: 64px;
  line-height: 64px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 2px;
}

h1 {
  font-family: "HelveticaNeue", Arial, sans-serif;
  font-size: 24px;
  text-decoration: none;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.25);
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.facebook-log-in-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 36px 0 33px;
}

.part-1,
.part-2 {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  overflow: hidden;
}

.part-1 {
  width: 36px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: 1px solid #324982;
}

.part-2 {
  width: 238px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: 1px solid #395394;
}

.facebook-button-link {
  display: block;
  font-size: 18px;
  text-decoration: none;
  white-space: nowrap;
  font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  color: #fff;
}

.facebook-button-link span b {
  font-weight: bold;
}

.part-1::after {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  width: 32px;
  text-align: center;
  content: "\f09a";
  font-family: FontAwesome;
  font-size: 14px;
}

.part-2::after {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  width: 36px;
  text-align: center;
  content: "\f054";
  font-family: FontAwesome;
  font-size: 12px;
}

fieldset,
.bottom-text {
  width: 276px;
}

input[type="text"],
input[type="password"] {
  width: calc(276px - 2*10px - 2px)
}

fieldset {
  border: none;
}

.registration-form  {
  border-top: 2px solid #323830;
  color: #fff;
  font-family: "HelveticaNeue", Arial, sans-serif;
  font-size: 14px;
  padding-top: 26px;
  text-align: center;
}

legend {
  padding: 0 5px;
  text-align: center;
}

input[type="text"],
input[type="password"]
 {
  height: 35px;
  margin-bottom: 15px;
  background-color: #000;
  color: #fff;
  font-family: "HelveticaNeue", Arial, sans-serif;
  font-size: 14px;
  text-decoration: none;
  border: 1px solid transparent;
  border-bottom: 1px solid #4b4b4b;
  padding: 0 10px;
}

.log-in-button {
  height: 35px;
  font-family: Arial;
  font-size: 14px;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  margin: 0;
  padding: 0;
}

.create-account-button {
  width: 149px;
  background: linear-gradient( #4eabda, #398bcc, #2f7bc4);
}

.create-account-button:hover,
.create-account-button:focus {
   background-image: linear-gradient(#5B7BD5, #4864B1);
}

input[type="text"]:hover,
input[type="text"]:focus,
input[type="password"]:hover,
input[type="password"]:focus {
  background-color: #1b5288;
  border: 1px solid #2d5777;
  box-shadow: 0 0 2px 2px #2f7bc5;
/*box-shadow: 0 0 9px rgba(47,123,197,.77), 0 1px #4b4b4b, inset 0 2px 5px rgba(29,26,22,.2), inset 0 0 2px rgba(0,0,0,.1);*/
}

#send-me-updates {
  margin-bottom: 15px;
  font-size: 14px;
}

#send-me-updates + label {
  cursor: pointer;
}

.label-text {
  color: #fff;
  font-family: "HelveticaNeue", Arial, sans-serif;
  font-size: 14px;
  text-decoration: none;
  margin: 0;
}

.bottom-text {
  display: inline-block;
  color: #fff;
  font-family: "HelveticaNeue", Arial, sans-serif;
  font-size: 11px;
  text-decoration: none;
  line-height: 1.5em;
  text-align: center;
  padding: 20px 0;
}
